<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">

   <title>Welcome to my Blog</title>

   <meta name="keywords" content="Blog, Lifestyle Blog, Travel, Ncha">
   <meta name="description" content="Blog">
   <meta name="author" content="Jonathan Ncha">

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="/css/responsive.css">
   <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">

</head>
<!-- body -->

<body class="main-layout">
   <!-- loader  -->
   <div class="loader_bg">
      <div class="loader"><img src="/images/loading.gif" alt="#" /></div>
   </div>
   <!-- end loader -->
   <!-- header -->
   <header>
      <!-- header inner -->
      <div class="head_top">
         <div class="header">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="#"><img src="/images/long.png" width="200" height="100" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark cusnav">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                           data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false"
                           aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item">
                                 <a class="nav-link" href="#"> Home </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="articles/contact">Contact</a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
         <!-- end header inner -->
         <!-- end header -->
         <!-- banner -->
         <section class="banner_main">
            <div class="container">
               <div class="row d_flex">
                  <div class=" col-xl-8 col-lg-8 col-md-8 col-12-9">
                     <div class="text-bg">
                        <h1><span class="white1">Hi there,</span></h1>
                        <h2>Pick from a list of abstract topics and enjoy 😉
                        </h2>
                     </div>
                  </div>

               </div>
            </div>
         </section>
      </div>
   </header>
   <!-- end banner -->
   <!-- blog_main -->
   <div class="blog_main">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Recent Posts</h2>

               </div>
            </div>
         </div>


         <!-- fist section -->
         <% articles.forEach(article => { %>
         <div class="row">
            <div class="col-md-12">
               <div class="our_two_box">
                  <div class="row d_flex">

                     <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="our_img">
                           <figure><%- article.image %></figure>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">

                        <div class="our_text_box">
                           <a href="/articles/<%= article.slug %>">
                              <h3 class="awesome pa_wi"><%= article.title %></h3>
                              <div class="card-subtitle text-muted mb-2">
                                 <%= article.createdAt.toLocaleDateString() %>
                              </div>
                              <p><%= article.description %></p>
                           </a>
                           <div class="post_box padding_bottom1">
                              <h4 class="flot_left1">Post By : Jonathan Ncha </h4>
                           </div>
                        </div>

                     </div>

                  </div>
               </div>
            </div>
         </div>
         <% }) %>
         <!-- end of fist section -->


      </div>
   </div>
   <!-- end blog_main -->

   <div class="section">

      <div id="" class="Testimonial">
         <div class="container">
            <div class="row">
               <div class="col-md-6 offset-md-3">
                  <div class="titlepage">
                     <h2>About the Author</h2>
                  </div>
               </div>
            </div>
            <div class="row d_flex">
               <div class="col-md-3">
                  <div class="Testimonial_box">
                     <i><img src="images/plan1.png" alt="#" /></i>
                  </div>
               </div>
               <div class="col-md-9">
                  <div class="Testimonial_box">
                     <h4>Jonathan Ncha</h4>
                     <p>Jonathan Ncha is a loving father, son and husband. Jonathan is an inquisitive individual with a
                        wide range of interests. From the abstract and
                        theoretical to the practical and everyday tocics, Jonathan is constantly exploring new ideas and
                        perspectives. He is a curious learner with a passion for understanding the world around him.
                        With a curious mind, Jonathan delves into a variety of topics, offering readers a unique
                        and thought-provoking perspective. When he's not busy writing for the blog, Jonathan can be
                        found playing chess, hanging out with friends and family, or catching up on some much-needed
                        sleep. Join him on his journey of discovery and learning and be sure to leave your thoughts
                        and comments!
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--  footer -->
   <footer>
      <div class="footer mt-5 mt-5">
         <div class="copyright">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">

                     <p class="text-right">© 2023 JONATHAN NCHA <a class="adminonly" href="articles/login">admin</a>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>

   <script src="/js/jquery.min.js"></script>
   <script src="/js/popper.min.js"></script>
   <script src="/js/bootstrap.bundle.min.js"></script>
   <script src="/js/jquery-3.0.0.min.js"></script>
   <script src="/js/custom.js"></script>
</body>

</html>